#tablados{
    position: relative;
    left: 0vw;
    top: 1vw;
    border-radius: 0.5vw;
    overflow: hidden;
}

#tablados2{
    position: relative;
    left: 0vw;
    top: 0.5vw;
    margin: 0vw;
}


.table-borderedondo{
    border-radius: 0.5vw;
    overflow: hidden;
}

.CuadroBoton{
    justify-content: center;
    text-align: center;
    width: 99vw;
    position: relative;
    top: 1vw;
    
    left: -15.5vw;
}
#TablaPrincipal{
    position: relative;
    top: 2vw;
}