@font-face {
    font-family: fuente;
    src: url(./imagenes/accord-alternate-regular.otf);
}

.contenedor{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    width: 50vw;
    border: solid 1px #d4d4d4;
    height: 14vw;
}
.contenedor2{
    background-color:#fff;
    width: 50vw;
    height: 22vw;
}
.circuloImagen{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50vw;
    width: 16vw;
    height: 16vw;
    border: solid 1px #d4d4d4;
    position: relative;
    top: 2vw;
    

}
.contenedorFondo{
    width: 100vw;
    height: 25.5vw;
    background-color: black;
    margin: -1vw;
}
.contenedorFond2{
    position: relative;
    width: 100vw;
    height: 26vw;
    background-color: #f9f9f9;
    margin: -1vw;
}
.contenido{
    position: absolute;
    left: 25vw;
    top: 7vw;
}

.imagen{
    position: relative;
    top: 0.4vw;
    width: 4.2vw;
    height: 7.5vw;
    transition: 0.5s;
}
.imagenVerde{
    position: relative;
    top: -3vw;
    width: 4.2vw;
    height: 7.5vw;
}


.contenidoBotones{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 15vw;
    gap: 2vw;
}
#boton1{
    height: 4vw;
    width: 4vw;
    overflow: hidden;
}
#boton2{
    height: 4vw;
    width: 4vw;
    overflow: hidden;
}
#boton3{
    height: 3.7vw;
    width: 4vw;
    overflow: hidden;
}
#boton4{
    height: 4vw;
    width: 4vw;
    overflow: hidden;
}
#boton5{
    height: 4vw;
    width: 4vw;
    overflow: hidden;
}
#boton6{
    height: 4vw;
    width: 4vw;
    overflow: hidden;
}
#mostrarDatos{
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 18vw;
    position: absolute;
    width: 50vw;
    height: 7vw;
    font-size: 1.5vw;
    font-family: fuente;
}
#mostrarDatos b{
    font-size: 2vw;
    font-family: fuente;

}
#mostrarDatos2{
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 18vw;
    position: absolute;
    width: 50vw;
    height: 7vw;
    font-size: 1.5vw;
    font-family: fuente;

}
#mostrarDatos2 b{
    font-size: 2vw;
    font-family: fuente;

}
#mostrarDatos3{
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 18vw;
    position: absolute;
    width: 50vw;
    height: 7vw;
    font-size: 1.5vw;
    font-family: fuente;

}
#mostrarDatos3 b{
    font-size: 2vw;
    font-family: fuente;

}
#mostrarDatos4{
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 18vw;
    position: absolute;
    width: 50vw;
    height: 7vw;
    font-size: 1.5vw;
    font-family: fuente;

}
#mostrarDatos4 b{
    font-size: 2vw;
    font-family: fuente;

}
#mostrarDatos5{
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 18vw;
    position: absolute;
    width: 50vw;
    height: 7vw;
    font-size: 1.5vw;
    font-family: fuente;

}
#mostrarDatos5 b{
    font-size: 2vw;
    font-family: fuente;

}
#mostrarDatos6{
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 18vw;
    position: absolute;
    width: 50vw;
    height: 7vw;
    font-size: 1.5vw;
    font-family: fuente;

}
#mostrarDatos6 b{
    font-size: 2vw;
    font-family: fuente;

}
#imagennn{
    position: relative;
    top: 1.5%;
    border-radius: 50vw;
    width: 15vw;
    height: 15vw;
}
p{
    color: #999999;
}