.contenedor{
    display: flex;
    justify-content: center;
    margin: -1vw;
    background-color: #f9f9f9;
    width: 50vw;
    border: solid 2px #d4d4d4;
    height: 10vw;
}
.contenedor2{
    background-color:#fff;
    width: 50vw;
    height: 20vw;
    border: solid 2px #d4d4d4;

    margin: -1vw;
}
.circuloImagen{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50vw;
    width: 15vw;
    height: 15vw;
    border: solid 2px #d4d4d4;
    position: relative;
    top: 1vw;
    

}
.contenedorFondo{
    width: 100vw;
    height: 25vw;
    background-color: black;
    margin: -1vw;
}
.contenedorFond2{
    position: relative;
    width: 100vw;
    height: 26vw;
    background-color: #fff;
    margin: -1vw;
}
.contenido{
    position: absolute;
    left: 25vw;
    top: 10vw;
}
#imagen1{
    position: relative;
    top: -2.5vw;
    width: 3vw;
    height: 5vw;
    transition: 0.5s;
}
#imagen1:hover{
    position: relative;
    top: 0.4vw;
    width: 3vw;
    height: 4vw;
}

#imagen2{
    position: relative;
    top: -2.5vw;
    width: 3vw;
    height: 5vw;
    transition: 0.5s;
}
#imagen2:hover{
    position: relative;
    top: 0.4vw;
    width: 3vw;
    height: 4vw;
}
#imagen3{
    position: relative;
    top: -2.5vw;
    width: 3vw;
    height: 5vw;
    transition: 0.5s;
}
#imagen3:hover{
    position: relative;
    top: 0.4vw;
    width: 3vw;
    height: 4vw;
}
#imagen4{
    position: relative;
    top: -2.5vw;
    width: 3vw;
    height: 5vw;
    transition: 0.5s;
}
#imagen4:hover{
    position: relative;
    top: 0.4vw;
    width: 3vw;
    height: 4vw;
}
#imagen5{
    position: relative;
    top: -2.5vw;
    width: 3vw;
    height: 5vw;
    transition: 0.5s;
}
#imagen5:hover{
    position: relative;
    top: 0.4vw;
    width: 3vw;
    height: 4vw;
}
#imagen6{
    position: relative;
    top: -2.5vw;
    width: 3vw;
    height: 5vw;
    transition: 0.5s;
}
#imagen6:hover{
    position: relative;
    top: 0.4vw;
    width: 3vw;
    height: 4vw;
}

.contenidoBotones{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 13vw;
    gap: 2vw;
}
#boton1{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
}
#boton2{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
}
#boton3{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
}
#boton4{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
}
#boton5{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
}
#boton6{
    height: 3vw;
    width: 3vw;
    overflow: hidden;
}
#mostrarDatos{
    top: 15vw;
    position: absolute;
    left: 14vw;
    width: 20vw;
    height: 6vw;
    font-size: 2vw;
}

#imagennn{
    border-radius: 50vw;
    width: 15vw;
    height: 15vw;
}