body{
    background: linear-gradient(#6eb9f5,#ebf5fd);
    height: auto;
    width: 100vw;
    overflow: hidden;
}
#imagen{
    width: 25vw;
    height: 35vw;
}

.contenedor{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.contenedorboton{
    display: flex;
    position: absolute;
    top: 35vw;
    width: 18vw;
    gap: 2vw;
    left: 40vw;
    
}
.contenedorboton button{
    background-color: #424242;
    color: #ebf5fd;
    position: relative;
    font-family: 'Oxanium', cursive;
    font-size: 1.2vw;
    border-radius: 0.1vw;
    
}
.casilla{
    position: relative;
    top: -20vw;
    left: 26vw;
    height: 2.5vw;
    width: 15vw;
    border-radius: 0.5vw;
    border:2px solid #181717;
    font-size: 1vw;
    font-family: 'Oxanium', cursive;


}
.casilla2{
    border:2px solid #222222;
    border-radius: 0.5vw;
    position: relative;
    top: -19.9vw;
    left: 41vw;
    height: 2.5vw;
    width: 15vw;
    opacity: 0.8;
    background-color: #c4c4c9;
    box-shadow: 2px 2px 0px #4a4a4a;
}
#datoss{
    position: relative;
    top: -23vw;
    font-size: 1.4vw;
    width: 12vw;
    height: 2vw;
    color: rgb(68, 67, 67);
    left: 46vw;
    font-family: 'Oxanium', cursive;
}
#imagenn{
    position: absolute;
    top: -8vw;
    width: 7vw;
    height: 7vw;
    left: 0vw;
}
#color{
    color: #646465;
}
#anterior{
    width: 10vw;
    height: 2.7vw;
    box-shadow: -4px 4px 2px 2px #111, 0px 2px 2px #555;
}
#siguiente{
    width: 10vw;
    height: 2.7vw;
    box-shadow: -4px 4px 2px 2px #111, 0px 2px 2px #555;

}