body{
    background: linear-gradient(#6eb9f5,#ebf5fd);
    height: auto;
    width: 100vw;
    overflow: hidden;
}
#imagen{
    width: 25vw;
    height: 35vw;
}

.contenedor{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.contenedorboton{
    display: flex;
    position: absolute;
    top: 35vw;
    width: 18vw;
    gap: 2vw;
    left: 40vw;
    
}
.contenedorboton button{
    background-color: #424242;
    color: #ebf5fd;
    position: relative;
    font-family: 'Oxanium', cursive;
    border-radius: 0.1vw;
    
}
.casilla{
    position: relative;
    top: -20vw;
    left: 42vw;
    height: 2.5vw;
    width: 15vw;
    border-radius: 0.5vw;
    border:2px solid #181717;
    font-size: 1vw;
    font-family: 'Oxanium', cursive;
    color: #3a444d;
    box-shadow: -3px 4px 0 #888,-5px 7px 0 #333 ;

}

#datoss{
    position: relative;
    top: -23vw;
    font-size: 1.4vw;
    width: 12vw;
    height: 2vw;
    color: rgb(68, 67, 67);
    left: 46vw;
    font-family: 'Oxanium', cursive;
}
#imagenn{
    position: absolute;
    top: -8vw;
    width: 7vw;
    height: 7vw;
    left: 0vw;
}
#color{
    color: #646465;
}
#anterior{
    font-size: clamp(8px, 5vw, 1rem);
    padding: 4%;
    width: 50%;
    border: 2px solid #000;
    box-shadow: -2px 3px 0 #222,-4px 6px #000 ;
    border-radius: 0.3vw;
}
#siguiente{
    padding: 4%;
    width: 50%;
    border: 2px solid #000;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -2px 3px 0 #222,-4px 6px #000 ;
    border-radius: 0.3vw;
}
#anterior:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0,9rem;
}
#siguiente:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0,9rem;
}